<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <title>Demo Page</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}" media="screen">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/nav.css') }}">
</head>

<body>
    <div class="topnav">
        <a href="index.html">Main Hub</a>
        <a class="active" href="demo.html">Demo</a>
        <a href="admin.html">Admin</a>
        <a href="about.html">About the Project</a>
    </div>
    <!-- <p>Create buttons for displaying net info with ofctl_rest, add a form to enter custom REST commands</p> -->
</body>

</html>
