<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <title>Main Hub</title>
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/nav.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/card.css') }}">

</head>

<body>
  <div class="topnav">
    <a href="index.html">Main Hub</a>
    <a href="firewall.html">Firewall</a>
    <a href="sso.html">Single Sign-On</a>
    <a href="about.html">About the Project</a>
  </div>

  <h2>Network Applications</h2>

  <div class="row">
    <div class="column">
      <div class="card">
        <div class="container">
          <br>
          <h4><b>Network Startup</b></h4>
          <p>Start the Mininet emulation, Ryu controller, and Blockchain.</p><br>
          <a href="startup.html"><button type="button" class="button">Startup</button></a>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <div class="container">
          <br>
          <h4><b>Configure Firewall Rules</b></h4>
          <p>Configure host to host rules for the Firewall app.</p><br>
          <a href="firewall.html"><button type="button" class="button">Firewall</button></a>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <div class="container">
          <br>
          <h4><b>Configure Single Sign-On</b></h4>
          <p>Configure network hosts with user roles for Single Sign-On</p><br>
          <a href="sso.html"><button type="button" class="button">Network Hosts</button></a>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <div class="container">
          <br>
          <h4><b>Network Certificates</b></h4>
          <p>View digital certificates used by the Network</p>
          <br>
          <a href="certificate.html"><button type="button" class="button">Certificates</button></a>
        </div>
      </div>
    </div>
  </div>

</body>

</html>
