<div class="topnav">
  <div class="dropdown">
    <button class="dropbtn">Main Hub
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="startup" class="active">Startup</a>
      <a href="startup.html">Topology</a>
      <a href="demo.html">Network Hosts</a>
      <a href="admin.html">Certificates</a>
    </div>
  </div>
  <a href="firewall.html">Firewall</a>
  <a href="admin.html">Single Sign-On</a>
  <a href="about.html">About the Project</a>
</div>
