<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <title>Single Sign-On</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}" media="screen">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/nav.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/form.css') }}">

</head>

<body>
  <div class="topnav">
    <a href="index.html">Main Hub</a>
    <a href="firewall.html">Firewall</a>
    <a href="sso.html">Single Sign-On</a>
    <a href="about.html">About the Project</a>
  </div>
  <!-- <p>Create buttons for displaying net info with ofctl_rest, add a form to enter custom REST commands</p> -->

  <h1>Network Hosts</h1>
  <form action="/addUser" id="textform" method="post">
    <table id="connection">
      <tr class="table_row">
        <th></th>
        <th>Host</th>
        <th>IP</th>
        <th>MAC</th>
      </tr>
      {% for host in hosts %}
      <tr class="table_row">
        <td>
          <input type="radio" name="hostNum" value={{hosts.index(host)}} />
        </td>
        <td>{{host.host}}</td>
        <td>{{host.ip}}</td>
        <td>{{host.mac}}</td>
      </tr>
      {% endfor %}
    </table>
    <select name="dropdown">
      <option value="0" selected>Worker</option>
      <option value="1">Admin</option>
      <option value="2">Server</option>
    </select>
    <input type="submit" value="Post">
  </form>

  <h1>Network Users</h1>
  <form action="/buildCSR" method="post">

  <table id="connection">
    <tr class="table_row">
      <th></th>
      <th>Role</th>
      <th>Host</th>
      <th>IP</th>
      <th>MAC</th>
      <th>Port</th>
    </tr>
    {% for user in users %}
    <tr class="table_row">
      <td>
        <input type="radio" name="userNum" value={{users.index(user)}} />
      </td>
      <td>{{user.role}}</td>
      <td>{{user.host}}</td>
      <td>{{user.ip}}</td>
      <td>{{user.mac}}</td>
      <td>{{user.in}}</td>
    </tr>
    {% endfor %}
  </table>

  <h2>Generate Certificate Signing Request</h2>
  <br>
  <label for="name">Common Name:</label>
  <input type="text" name="name" value="Admin"/><br><br>
  <label for="org_name">Organization Name:</label>
  <input type="text" name="org_name" value="SSO"/><br><br>
  <label for="country">Country:</label>
  <input type="text" name="country" value="US"/><br><br>
  <label for="state">State:</label>
  <input type="text" name="state" value="Massachusetts"/><br><br>
  <label for="locality">Locality:</label>
  <input type="text" name="locality" value="Dartmouth"/><br><br>

  <input type="submit" value="Post">

  </form>
  <br>
  <a href="/startSSO"><button class="button">Enable Single Sign-On Traffic</button></a>
  <h2>Validate CSR with Blockchain Certificate Authority</h2>
  <a href="{{node_address}}/mine" target="_blank"><button class="button">Validate new block</button></a>
  <a href="/demo.html"><button class="button">Resync</button></a>

</body>

</html>
