<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <title>Main Hub</title>
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}" media="screen">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/nav.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/card.css') }}">

<style>
.column{
  width: 33%;
}
</style>

</head>

<body>
  <div class="topnav">
    <a href="index.html">Main Hub</a>
    <a href="firewall.html">Firewall</a>
    <a href="sso.html">Single Sign-On</a>
    <a href="about.html">About the Project</a>
  </div>

  <br>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="{{ net1 }}" alt="" style="width:100%">
        <div class="container">
          <h4><b>Network 1</b></h4>
          <p>Network 1 contains 3 hosts connected to a switch</p>
          <a href="netstart/1"><button type="button" class="button">Startup</button></a>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
      <img src="{{ net2 }}" alt="" style="width:100%">
        <div class="container">
          <h4><b>Network 2</b></h4>
          <p>Network 1 contains 5 hosts connected to a switch</p>
          <a href="netstart/2"><button type="button" class="button">Startup</button></a>
        </div>
      </div>
    </div>
    <div class="column">
      <h2>Ryu Applications</h2>
      <a href="FWstart"><button type="button" class="button">Firewall</button></a>
      <a href="SSOstart"><button type="button" class="button">Single Sign-On</button></a><br>
      <h2>Blockchain Application</h2>
      <a href="bcstart"><button type="button" class="button">Certificate Authority</button></a><br>

    </div>
  </div>

</body>
</html>
