<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <title>Main Hub</title>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/nav.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/card.css') }}" media="scren">

</head>

<body>

    <div class="topnav">
        <a class="active" href="index.html">Main Hub</a>
        <a href="demo.html">Demo</a>
        <a href="admin.html">Admin</a>
        <a href="about.html">About the Project</a>
    </div>

    <h1>View of Network Topology</h1>
	<iframe src="{{ network_image }}" width="100%" height="500px" align="center">
	</iframe>
</body>

</html>
