body {
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: black;
}

h2 {
    color: black;
}

#connection {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#connection td, #connection th {
    border: 1px solid #ddd;
    padding: 8px;
}

#connection tr:nth-child(odd) {
    background-color: #f2f2f2;
}

#connection tr:nth-child(even) {
    background-color: #ffffff;
}

#connection tr:hover {
    background-color: #ddd;
}

#connection th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: black;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
